@{
    ViewData["Title"] = "Home page";
}
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body style="background: #edeef0">
<div class="text-center">
    <h1 class="display-4">Добро пожаловать на фан сайт трешовых музыкальных групп</h1>
    <div>
        Здесь вы сможете узнать исполнителей, которых редко слушают в культурном обществе.
    </div>
</div>
</body>
</html>